main {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  background: #f2f4f7;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 566px;

  &__box {
    width: 970px;
    height: 366px;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  &__headingBox {
    display: flex;
    justify-content: center;
  }

  &__headingBox2 {
    display: flex;
    justify-content: center;
  }
}

footer {
  width: 100%;
  height: 100%;
  background: #fff;
  // display: flex;
  // justify-content: center;

  .footerBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box {
    padding-top: 60px;
    padding-bottom: 60px;

    width: 472px;
    height: 184px;

    &__title {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
    }

    &__input {
      display: flex;
      justify-content: center;
      padding-top: 32px;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    box-shadow: inset 0 1px 0 0 rgba(30, 40, 52, 0.12);
    &__title {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #1d2939;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
