.cards-box {
  display: flex;
  flex-direction: column;
  width: 980px;
}

.cards {
  padding-top: 80px;
  height: 886px;

  &__dailyBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    margin-bottom: 31px;
  }

  &__eye {
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }
  &__view {
    display: flex;
    justify-content: center;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    padding: 8px 12px;
    width: 77px;
    height: 43px;
    background: $white;
    font-weight: 600;
    font-size: 14px;
    // line-height: 143%;
    color: $dark-blue;
  }

  &__viewBox {
    display: flex;
    flex-direction: column;
  }
}

.card {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 980px;
  height: 260px;
  background: $white;
  margin-top: 20px;

  &__img {
    border-radius: 10px;
    width: 300px;
    height: 211px;
    padding-left: 30px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24.15px;
  }

  &__box {
    width: 610px;
    height: 178px;
    padding-left: 30px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  &__dataBox {
    width: 110px;
    height: 15px;
  }

  &__box2 {
    padding-top: 26px;
    width: 610px;
    height: 132px;
    position: absolute;
  }

  &__titleBox {
    width: 610px;
    height: 68px;
  }

  &__textBox {
    width: 610px;
    height: 54px;
    padding-top: 10px;
  }
}

@media screen and (max-width: $tab-port) {
  h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #1d2939;
  }

  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #1d2939;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
  }

  h6 {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #667085;
  }
  .cards-box {
    width: 670px;
  }

  .cards {
    width: 670px;
    height: 698px;

    &__dailyBox {
      margin-bottom: 0px;
      width: 670px;
      height: 36px;
    }

    &__view {
      width: 67px;
      height: 36px;
      padding-top: 3.5px;
    }

    &__viewBox {
      font-size: 13px;
    }

    &__eye {
      width: 12px;
    }
  }

  .card {
    width: 670px;
    height: 202px;

    &__img {
      border-radius: 10px;
      width: 210px;
      height: 170px;
    }

    &__box {
      width: 470px;
      height: 152px;
      padding: 25px;
    }

    &__dataBox {
      display: flex;
      justify-content: start;
      width: 90px;
      padding-bottom: 20px;
    }

    &__box2 {
      padding: 0;
      width: 390px;
      height: 116px;
    }

    &__titleBox {
      width: 390px;
      height: 58px;
    }

    &__textBox {
      width: 390px;
      height: 58px;
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: $phone) {
  main {
    // padding: 40px 12px;
    // width: 374px;
    width: 100%;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #475467;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #475467;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .cards-box {
    width: 343px;
  }

  .cards {
    width: 343px;
    height: 988px;

    &__dailyBox {
      width: 341px;
      height: 36px;
    }

    &__view {
      width: 57px;
      height: 26px;
      padding-top: 1.5px;
    }

    &__viewBox {
      font-size: 10px;
    }

    &__eye {
      width: 10px;
    }
  }

  .card {
    width: 343px;
    height: 300px;

    &__box {
      width: 311px;
      height: 84px;
      padding-top: 20px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__dataBox {
      padding-bottom: 20px;
    }

    &__box2 {
      width: 311px;
      height: 50px;
    }

    &__titleBox {
      width: 311px;
      height: 50px;
    }

    &__textBox {
      visibility: hidden;
      width: 311px;
    }

    &__img {
      position: absolute;
      border-radius: 0 0 10px 10px;
      width: 343px;
      height: 180px;
      padding: 0;
      margin-top: 120px;
    }
  }
}
