.cards-box {
  display: flex;
  flex-direction: column;
  width: 700px; // It was 980px

  &__moreBox {
    display: flex;
    justify-content: center;
  }

  &__more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    padding: 8px 12px;
    width: 250px;
    height: 40px;
    background: $white;
    font-weight: 600;
    font-size: 18px;
    color: $dark-blue;
  }
}

.cards {
  padding-top: 80px;

  // height: 886px; - This is for 3 cards

  &__dailyBox {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 43px;
  }

  &__eye {
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }
  &__view {
    display: flex;
    justify-content: center;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    padding: 8px 12px;
    width: 90px;
    height: 43px;
    background: $white;
    font-weight: 600;
    font-size: 22px;
    // line-height: 143%;
    color: $dark-blue;
  }

  &__viewBox {
    display: flex;
    flex-direction: column;
  }
}

.card {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 700px; // It was 980px
  height: 200px; // It was 260px
  background: $white;
  margin-top: 20px;

  &__img {
    border-radius: 40px;
    width: 200px;
    height: 165px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 24.15px;
  }

  &__box {
    width: 510px;
    height: 178px;
    padding-left: 30px;
    // padding-bottom: 41px;
  }

  &__dataBox {
    width: 130px;
    height: 15px;
    padding-top: 20px;
    // padding-bottom: 12px;
  }

  &__box2 {
    padding-top: 8px;
    width: 430px;
    height: 132px;
    position: absolute;
  }

  &__titleBox {
    width: 430px;
    height: 68px;
  }

  &__textBox {
    width: 430px;
    height: 54px;
    padding-top: 5px;
  }
}

@media screen and (max-width: $tab-port) {
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #1d2939;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1d2939;
  }

  h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #475467;
  }

  h6 {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #667085;
  }
  .cards-box {
    width: 670px;
  }

  .cards {
    width: 670px;
    // height: 698px;

    &__dailyBox {
      margin-bottom: 0px;
      width: 50%;
    }

    &__view {
      width: 67px;
      height: 36px;
      font-size: 20px;
    }
  }

  .card {
    width: 670px;
    height: 202px;

    &__img {
      border-radius: 40px;
      width: 210px;
      height: 170px;
    }

    &__box {
      width: 470px;
      height: 152px;
      padding: 25px;
    }

    &__dataBox {
      display: flex;
      justify-content: start;
      padding-bottom: 15px;
      padding-top: 0;
    }

    &__box2 {
      padding: 0;
      width: 390px;
      height: 116px;
    }

    &__titleBox {
      width: 390px;
      height: 58px;
    }

    &__textBox {
      width: 390px;
      height: 58px;
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: $phone) {
  main {
    width: 100%;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #475467;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #475467;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }

  .cards-box {
    width: 343px;
  }

  .cards {
    width: 343px;
    // height: 988px;

    &__dailyBox {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 36px;
      
    }

    &__view {
      width: 60px;
      height: 36px;
    }
  }

  .card {
    width: 343px;
    height: 250px;
    // margin-top: 70px;

    &__box {
      width: 311px;
      height: 84px;
      padding-top: 23px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__dataBox {
      padding-bottom: 12px;
    }

    &__box2 {
      width: 311px;
      height: 50px;
    }

    &__titleBox {
      width: 311px;
      height: 50px;
    }

    &__textBox {
      visibility: hidden;
      width: 311px;
    }

    &__img {
      position: absolute;
      border-radius: 0 0 10px 10px;
      width: 343px;
      height: 140px;
      padding: 0;
      margin-top: 110px;
    }
  }
}
