.cards-box {
  display: flex;
  flex-direction: column;
  width: 980px;
}
.cards {
  padding-top: 100px;

  height: 886px;

  &__dailyBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    margin-bottom: 31px;
  }

  &__eye {
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }
  &__view {
    display: flex;
    justify-content: center;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    padding: 8px 12px;
    width: 77px;
    height: 43px;
    background: $white;
    font-weight: 600;
    font-size: 14px;
    // line-height: 143%;
    color: $dark-blue;
  }

  &__viewBox {
    display: flex;
    flex-direction: column;
  }
}

.card {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 980px;
  height: 260px;
  background: $white;
  margin-top: 20px;

  &__img {
    border-radius: 10px;
    width: 300px;
    height: 211px;
    padding-left: 30px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24.15px;
  }

  &__box {
    width: 610px;
    height: 178px;
    padding-left: 30px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  &__dataBox {
    width: 110px;
    height: 15px;
  }

  &__box2 {
    padding-top: 26px;
    width: 610px;
    height: 132px;
    position: absolute;
  }

  &__titleBox {
    width: 610px;
    height: 68px;
  }

  &__textBox {
    width: 610px;
    height: 54px;
    padding-top: 10px;
  }
}
