.header {
    width: 100%;
}


.nav {
    background-color: #ffffff;
    height: 88px;
    display: flex;
    box-shadow: 0 4px 70px 0 rgba(30, 40, 52, 0.08);
    padding: 20px 104px;
    align-items: center;
    justify-content: space-around;

    // padding: 0.2rem calc((100vw - 1000px) / 2);

    &__box {
        width: 90%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__titleBox {
        width: 148.5px;
        height: 24px;
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    &__title {
        color: #1E2834;
        font-weight: bold;
        font-size: 24px;
        height: 24px;
        filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
    }

    &__pagesbox {
        display: flex;
        justify-content: space-between;
        width: 515px;
        height: 44px;
        align-items: center;
        color: #000000;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__linkbox {
        width: 318px;
        height: 24px;
        display: flex;
        justify-content: space-around;
    }

    &__link {
        color: #1D2939;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-decoration: none;
        cursor: pointer;

        &:active {
            color: blue;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        border: 1px solid #1d2939;
        border-radius: 8px;
        // padding: 12px 14px;
        width: 100px;
        height: 44px;
        background: #1d2939;
    }

    &__buttonBox {
        width: 85px;
        height: 25px;
        display: flex;
        justify-self: center;
    }

    &__buttonTitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));

    }
}