.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 566px;

    &__box {
        width: 970px;
        height: 366px;
    }

    &__headingBox {
        display: flex;
        justify-content: center;
    }

    &__heading {
        line-height: 120px;
        font-size: 72px;
        background: linear-gradient(to top right, #C41740, #EA9C28);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__headingBox2 {
        display: flex;
        justify-content: center;
    }

    &__heading2 {
        color: #475467;
        font-size: 28px;
        line-height: 10px;
    }
}


.main {
    padding: 80px 250px;
    height: 100%;
    background: #f2f4f7;
}