// COLOR VARIABLES

$gradient: linear-gradient(133deg, #c41740 0%, #ea9c28 100%);

$white: #ffffff;
$black: #000000;

$light-grey: #667085;

$dark-grey: #475467;
$dark-blue: #1d2939;

// RESPONSIBLE BREAKPOINTS
$pc: 1280px;
$tab-port: 1024px;
$tab-port-small: 768px;
$phone: 480px;
$phone-small: 320px;
