// COLOR VARIABLES

$gradient: linear-gradient(133deg, #c41740 0%, #ea9c28 100%);

$white: #ffffff;
$black: #000000;

$light-grey: #667085;

$dark-grey: #475467;
$dark-blue: #1d2939;

// RESPONSIBLE BREAKPOINTS
// $bp-largest: 1200px;
// $bp-large: 1000px;
// $bp-medium: 800px;
// $bp-small: 600px;
