h1 {
  font-weight: 700;
  font-size: 76px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-align: center;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  color: $dark-blue;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: $dark-blue;
  margin: 0;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $dark-grey;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-bottom: 10px;
}

h6 {
  // width: 107px;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light-grey;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: $dark-grey;
  margin: 0;
}

input {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 400px;
}


ul {
  list-style-type: none;
}